/*Bootstrap Customization*/
header.row, footer.row {
    --bs-gutter-x:0;
}

.badge {
    color: var(--bs-body-color);
}

.navbar {
    box-shadow: 0 0 2px #333;
}

header {
    padding: 50px 10px;
}

.header-text {
    text-align: center;
}

footer {
    padding: 20px;
}

.action-btns .btn {
    width: 45%;
}

main {
    padding: 20px;
}

.skills .badge {
    background-color: var(--bs-secondary-bg);
}


#pills-tab .nav-link {
    font-size: 0.9rem;
    padding: 5px 14px;
    border: 1px solid var(--bs-primary);
    margin-right: 10px;
}


@media (min-width:768px) {
    header {
        padding: 50px;
    }
    .header-text {
        text-align: left;
    }
    footer {
        padding: 50px;
    }
    .action-btns .btn {
        width: auto;
    }
    main {
        padding: 100px;
    }
}
