
main {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 20px;
}

.intro-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 20px;
}

.intro-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 7px solid #fff;
    border-radius: 50%;
    padding: 0;
}

.contact-details p i, .achievements p i {
    font-size: 120%;
    padding-right: 10px;
}

.about-me {
    background-color: var(--bs-purple);
    color: #fff;
    padding: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 100px;
}

#floatingMailBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 23px;
    outline: none;
}
