:root, [data-theme="light"]
{
    --primary: #1872bd;
    --secondary: #919aa5;
    --success: #168548;
    --danger: #cd2645;
    --warning: #fdcf20;
    --info: #35cdcd;

    --bg: #fefefe;
    --fg: #080808;
}
